*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Raleway', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    
}
.main .login{
    padding: 26px 35px;
    border: 1px solid #000;
    margin: 64px;
}